<div class="card">
  <div class="card-header">
    <h3 class="card-title">Compétences</h3>
  </div>
  <div class="card-body">
    <div class="tags">
      <span class="tag">
        <span class="tag-avatar tag-addon">
          <i class="fa fa-heart text-red" data-toggle="tooltip" title="" data-original-title="fe fe-heart"></i>
        </span>
        Ruby
      </span>
      <span class="tag">Gitlab</span>
      <span class="tag">CI</span>
      <span class="tag">TDD</span>
      <span class="tag">Jquery</span>
      <span class="tag">PHP</span>
      <span class="tag">SQL</span>
      <span class="tag">PostgreSQL</span>
      <span class="tag">MySQL</span>
      <span class="tag">Ionic</span>
      <span class="tag">Heroku</span>
      <span class="tag">Scalingo</span>
      <span class="tag">Scraping</span>
      <span class="tag">Docker</span>
      <span class="tag">API</span>
      <span class="tag">Architecture</span>
      <span class="tag">Big Data</span>
      <span class="tag">Méthodes agiles</span>
      <span class="tag">Extreme Programming</span>
    </div>
  </div>
</div>