<div class="col-lg-4 col-md-6">
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Clément Prod'homme</h3>
    </div>
    <div class="card-body">
      <div class="media mb-5">
        <span class="d-flex mr-5 avatar avatar-xl rounded" style="background-image: url('https://avatars0.githubusercontent.com/u/7428736?s=460&v=4')"></span>
        <div class="media-body">
          <h5>Développeur Web confirmé<br>Ruby On Rails</h5>
          <address class="text-muted small">
            Région de Paris, France
          </address>
        </div>
      </div>
      <div class="h6">Description</div>
      <p>
        Jeune passionné des Nouvelles Technologies et de l'Internet depuis l'adolescence.
      </p>
      <p>
        Je code principalement en Ruby On Rails pour les applications web ou sur Ionic/React Native pour les applications mobile, que ce soit, sur des projets personnels ou en entreprise.
      </p>
      <p>J'ai une soif d'apprendre au quotidien à travers ce merveilleux outil qui est internet.</p>
      <a href='https://github.com/cle61' target="_blank" class="btn btn-icon btn-github"><i class="fa fa-github"></i></a>
      <a href="https://www.linkedin.com/in/clementprodhomme" target="_blank" class="btn btn-icon btn-linkedin"><i class="fa fa-linkedin"></i></a>
    </div>
  </div>
</div>