<div class="col-lg-4 col-md-6">
  <div class="card">
    <div class="card-body">
      <div class="media mb-4">
        <span class="d-flex mr-5 avatar avatar-xxl rounded" style="background-image: url('https://avatars0.githubusercontent.com/u/7428736?s=460&v=4')"></span>
        <div class="media-body">
          <h5>Développeur Web<br>Ruby On Rails</h5>
          <address class="text-muted small">
            Région de Paris, France
          </address>
        </div>
      </div>
      <div class="h6">Description</div>
      <p>
        Je crée les projets de demain au travers de mes connaissances techniques et de l'utilisation de méthodes agiles (eXtreme Programming).
      </p>
      <p>
        J'ai une soif d'apprendre au quotidien qui me pousse à sortir de ma zone de confort.
      </p>
      <p>
        Je met l'accent sur l'humain au coeur des projets en prenant en compte le bien être des équipes qui les conçoivent.
      </p>
      <a href='https://github.com/cprodhomme' target="_blank" class="btn btn-icon btn-github"><i class="fa fa-github"></i></a>
      <a href="https://www.linkedin.com/in/clementprodhomme" target="_blank" class="btn btn-icon btn-linkedin"><i class="fa fa-linkedin"></i></a>
    </div>
  </div>
</div>
