<div class="header d-lg-flex p-0 mb-5" id="headerMenuCollapse">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg order-lg-first">
        <div class="header-brand">
          Clément Prod'homme
        </div>
      </div>
      <div class="col-lg-9 d-lg-flex collapse justify-content-end ml-auto" id='menuHeader'>
        <ul class="nav nav-tabs border-0 flex-column flex-lg-row" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="parcours-tab" data-toggle="tab" href="#parcours" role="tab" aria-controls="parcours" aria-selected="true">
              <i class="fe fe-briefcase"></i> Expériences professionnelles
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="competences-tab" data-toggle="tab" href="#competences" role="tab" aria-controls="competences" aria-selected="true">
              <i class="fe fe-user-check"></i> Compétences
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="formations-tab" data-toggle="tab" href="#formations" role="tab" aria-controls="formations" aria-selected="true">
              <i class="fe fe-award"></i> Formations
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="projets-tab" data-toggle="tab" href="#projets" role="tab" aria-controls="projets" aria-selected="true">
              <i class="fe fe-image"></i> Projets
            </a>
          </li>
        </ul>
      </div>
      <a href="#" class="header-toggler d-lg-none ml-3 ml-lg-0" data-toggle="collapse" data-target="#menuHeader" style="position: fixed;top: 2px;right: 5%;">
        <span class="header-toggler-icon"></span>
      </a>
    </div>
  </div>
</div>