<h3 class="mt-0 mb-4">Expériences professionnelles</h3>
<div class="card card-aside">
  <a href="https://www.captive.fr" target="_blank" class="card-aside-column" style="background-image: url('./assets/images/background-captive.jpg');"></a>
  <div class="card-body d-flex flex-column">
    <h4><a href="https://www.captive.fr" target="_blank">Développeur Web Full-stack - Ruby On Rails</a></h4>
    <div class="d-flex align-items-center pb-5 mb-auto">
      <div class="avatar avatar-md mr-3" style="background-image: url(./assets/images/logo-captive.svg); background-size: 90%;"></div>
      <div>
        <a href="https://www.captive.fr" target="_blank" class="text-default">Captive</a>
        <small class="d-block text-muted">Janv. 2016 – Aujourd'hui</small>
      </div>
    </div>
    <div class="text-muted">Réalisation sur-mesure de solutions informatiques (SaaS) sur le Web et le Mobile. Pratique de l'agilité (eXtreme Programming) au quotidien et développement avec des tests automatisés (TDD). </div>
  </div>
</div>

<h3 class="mt-0 mb-4">Formation</h3>

<div class="card card-aside">
  <a href="https://supinternet.fr" target="_blank" class="card-aside-column" style="background-image: url('./assets/images/background-supinternet.jpg');"></a>
  <div class="card-body d-flex flex-column">
    <h4><a href="https://supinternet.fr" target="_blank">SUP'Internet, école des métiers de l'Internet</a></h4>
    <div class="d-flex align-items-center pb-5 mb-auto">
      <div class="avatar avatar-md mr-3" style="background-image: url(./assets/images/logo-supinternet.png); background-size: 90%;"></div>
      <div>
        <a href="https://supinternet.fr" target="_blank" class="text-default">Diplôme : Manager de Projet Web</a>
        <small class="d-block text-muted">2013 – 2016</small>
      </div>
    </div>
    <div class="text-muted">SUP’Internet forme en trois ans des professionnels accomplis de la communication numérique qui maitrisent le web design, l’e-marketing ou les technologies d’Internet. Les étudiants des trois formations maitrisent les bases des trois spécialités ce qui leur permet de travailler en groupes sur des projets communs qui simulent les conditions de travail en entreprise et les préparent aux stages dès la 1e année.</div>
  </div>
</div>