<h3 class="mt-0 mb-4">Projets</h3>

<div class="row row-cards">
  <div class="col-sm-12 col-md-6">
    <div class="card">
      <div class="card-status bg-green"></div>
      <div class="card-header">
        <h3 class="card-title">
          <a href="https://play.google.com/store/apps/details?id=app.hexagame.com&hl=en" target="_blank">
            Hexagame
          </a>
        </h3>
        <div class="card-options">
          <a href="https://github.com/Gaviil/Hexagame" class="icon" target="_blank"><i class="fe fe-github"></i></a>
        </div>
      </div>
      <div class="card-body">
        <p>
          Hexagame est un jeux mobile réalisé avec <a href="https://github.com/Gaviil" target="_blank">Quentin Boussard</a>. Il y a plusieurs niveau de difficulté, chaque niveau à ses propres reglès :<br>
          Exemple, le niveau 1 te propose 2 couleurs avec le nom de la couleur (en anglais) et tu dois choisir la bonne. Plus ton score est élevé, plus le nombre de couleurs simultanées augmente.<br>
          Le niveau 2 ajoute un temps de maximum 30 secondes.<br>
          Le niveau 3 propose des couleurs très proche, les unes des autres.
        </p>
        <p>
          Tu peux aussi découvrir le niveau secret en téléchargeant l'application <a href="https://play.google.com/store/apps/details?id=app.hexagame.com&hl=en" target="_blank">ici</a>
        </p>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-6">
    <div class="card">
      <div class="card-status bg-orange"></div>
      <div class="card-header">
        <h3 class="card-title">
          <a href="https://arctic-admin.herokuapp.com" target="_blank">
            arctic_admin
          </a>
        </h3>
        <div class="card-options">
          <a href="https://github.com/cprodhomme/arctic_admin" class="icon" target="_blank"><i class="fe fe-github"></i></a>
        </div>
      </div>
      <div class="card-body">
        Arctic Admin est une gem utilisée avec ActiveAdmin pour ajouter un theme responsive et plus moderne que l'original.
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-6">
    <div class="card">
      <div class="card-status bg-red"></div>
      <div class="card-header">
        <h3 class="card-title">
          <a href="https://github.com/Captive-Studio/regime" target="_blank">
            Regime
          </a>
        </h3>
        <div class="card-options">
          <a href="https://github.com/Captive-Studio/regime" class="icon" target="_blank"><i class="fe fe-github"></i></a>
        </div>
      </div>
      <div class="card-body">
        Regime est une gem qui vient vérifier la longueur de chaque fichier ruby d'un projet. Par défaut la limite est fixé à 100 lignes. L'idée est de provoquer un refactoring sur le fichier.
      </div>
    </div>
  </div>
</div>
