<h3 class="mt-0 mb-4">Projets</h3>

<div class="row row-cards">
  <div class="col-sm-12 col-md-6">
    <div class="card">
      <div class="card-status bg-green"></div>
      <div class="card-header">
        <h3 class="card-title">
          <a href="https://play.google.com/store/apps/details?id=app.hexagame.com&hl=en" target="_blank">
            Hexagame
          </a>
        </h3>
        <div class="card-options">
          <a href="https://github.com/Gaviil/Hexagame" class="icon" target="_blank"><i class="fe fe-github"></i></a>
        </div>
      </div>
      <div class="card-body">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deleniti fugit incidunt, iste, itaque minima neque pariatur perferendis sed suscipit velit vitae voluptatem. A consequuntur, deserunt eaque error nulla temporibus!
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-6">
    <div class="card">
      <div class="card-status bg-orange"></div>
      <div class="card-header">
        <h3 class="card-title">
          <a href="https://arctic-admin.herokuapp.com" target="_blank">
            arctic_admin
          </a>
        </h3>
        <div class="card-options">
          <a href="https://github.com/cprodhomme/arctic_admin" class="icon" target="_blank"><i class="fe fe-github"></i></a>
        </div>
      </div>
      <div class="card-body">
        Simple theme for ActiveAdmin 👌
      </div>
    </div>
  </div>
</div>
